.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    margin-top: 20px;
  }
  
  .pagination-text-buttons {
    display: flex;
    align-items: center;
  }
  
  .pagination-text {
    margin-right: 10px;
  }
  
  .pagination-buttons {
    display: flex;
  }
  
  .pagination-button {
    background-color: #C1D72F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .pagination-button:hover {
    background-color: #d3e176;
  }
  