.line {
    border-color: #C1D72F;
    border-width: 2px; /* Ajusta el grosor de la línea según sea necesario */
    width: 50%; /* Establece la anchura a la mitad del tamaño horizontal */
    background-color: transparent; /* Establece el color de fondo transparente */
    box-shadow: none; /* Elimina cualquier sombra que se esté aplicando */
    margin: 0 auto 0 0;
    position: relative; /* Asegura que z-index funcione correctamente */
    z-index: 1; /* Ajusta el orden de apilamiento de la línea */
}

h1 {
    position: relative; /* Asegura que z-index funcione correctamente */
    z-index: 0; /* Ajusta el orden de apilamiento del texto "Home" */
}
