.card-main {
  width: 250px;
  border: 3px solid #ababab;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-email {
  font-size: 16px;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}






