.card-main {
  width: 200px;
  border: 3px solid white; /* Borde blanco */
  border-radius: 10px; /* Ajuste el radio del borde */
  padding: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Sombra que hace resaltar */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Fondo blanco */
}

.card-image {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px; /* Ajusta el tamaño de la imagen */
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para la imagen */

}

.card-image-container{
  border-radius: 50% ; /* Reduce el bor
}


.card-name {
  font-size: 18px; /* Tamaño del nombre */
  font-weight: bold;
  margin-bottom: 8px;
}

.card-email {
  font-size: 16px; /* Tamaño del correo */
  margin-bottom: 12px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
