.btn-delete {
  background-color: white; /* Cambia el fondo a blanco */
  color: #CF6679; /* Cambia el color del texto a verde */
  padding: 8px 12px;
  border: 2px solid  #CF6679; /* Cambia el borde a verde */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex; /* Para poder alinear el icono y el texto */
  align-items: center; /* Para alinear verticalmente el icono y el texto */
}

.btn-delete:hover {
  background-color:#CF6679; /* Cambia el fondo al pasar el ratón */
  color: white; /* Cambia el color del texto al pasar el ratón */
}

.btn-delete .icon {
  color:  #CF6679; /* Cambia el color del icono a verde */
  margin-right: 5px; /* Ajusta el espacio entre el icono y el texto */
}
