.title-container {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: 20px; /* Ajusta el margen izquierdo */
  }
  
  .title-text {
    color: #ffffff; /* Cambia el color del texto a blanco*/
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }
  
  .title-line::before {
    content: '';
    display: block;
    width: 100px; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: lightgreen; /* Color de la línea */
    margin-right: 10px; /* Espacio entre el título y la línea */
  }
  
  
  .title-text {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

    .favorite-card-container {
    display: flex;
    justify-content: space-around;
  }

  .container-favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 37px; /* Espacio entre cada tarjeta */
  }

  .line {
    border-color: #C1D72F;
    border-width: 2px; /* Ajusta el grosor de la línea según sea necesario */
    width: 50%; /* Establece la anchura a la mitad del tamaño horizontal */
    background-color: transparent; /* Establece el color de fondo transparente */
    box-shadow: none; /* Elimina cualquier sombra que se esté aplicando */
    margin: 0 auto 0 0;
}

.No-favorites {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 2.5rem; /* Ajusta el tamaño del texto */
}

.No-favorites svg {
  font-size: 3.5rem; /* Ajusta el tamaño del ícono */
}

