.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
  }
  
  .navbar a {
    color: #000; /* Cambiar el color de los enlaces a negro */
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .navbar a:hover {
    background-color: #f5f5f5;
    color: #4CAF50; /* Cambiar el color del texto al pasar el mouse por encima */
    cursor: pointer;
  }
  
  .navbar button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }