.navbar {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto;
  margin: 0;
  
}

.ContainerImage {
  width: auto;
  margin-left: 10px;
}

.Imagenav {
  width: 110px;
  height: 50px;
}

.ButtonNew {
  background-color: #C1D72F;
  border-radius: 10px;
  height: 36px;
  padding: 0 10px;
  margin-right: 10px;
}

.a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 15px; /* Espacio entre los enlaces */
}

.a:last-child {
  margin-right: 0; /* Elimina el margen del último enlace */
}

.a:active,
.a:hover {
  color: #C1D72F;
}
